.post_content {
  p {
    margin-bottom: 10px;
  }

  code {
    background-color: lightgray;
    display: inline-block;
    padding: 0.2em 1em;
    border-radius: 5px;
    white-space: pre-wrap;
  }

  h3 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    margin-bottom: 1.5rem; /* 24px */
    font-weight: 600;
  }
}
